@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main
{
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card
{ 
    padding: 40px 30px 30px 30px;
    width:250px;
    height: 425px;
}
.card:nth-of-type(1)
{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card:nth-of-type(2)
{
    background-color:hsl(184, 100%, 22%);
}
.card:nth-of-type(3)
{
    background-color:hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card h1
{   
    font-family: Big Shoulders Display;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 25px;
    padding: 20px 0 10px 0;
}
.card p
{   
    font-family: Lexend Deca;  
    color:  hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    padding: 10px 0 60px 0;
    line-height:1.5;
    letter-spacing: 0.8px;
}
button
{
    border-radius:20px;
    border:3px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    height: 35px;
    padding:5px;
    width:120px;
    font-size: 15px;
    cursor: pointer;
}
.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1
{
    color: hsl(31, 77%, 52%);
}
.btn1:hover
{
    background-color:hsl(31, 77%, 52%) ;
    color: hsl(0, 0%, 95%);
}
.btn2
{
    color: hsl(184, 100%, 22%);
}
.btn2:hover
{
    background-color: hsl(184, 100%, 22%) ;
    color: hsl(0, 0%, 95%);
}
.btn3
{
    color: hsl(179, 100%, 13%);
}
.btn3:hover
{
    background-color:  hsl(179, 100%, 13%) ;
    color: hsl(0, 0%, 95%);
}

@media (max-width:600px)
{
    .main
    {
        margin: 40px 0 40px 0;
        flex-direction: column;
        height: auto;
    }
    .card
    {
        border-radius: 0 !important;
        height: 400px !important;
    }
    .card:nth-of-type(1)
{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.card:nth-of-type(3)
{
    background-color:hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
}